{% extends 'base.html' %}
{% block body %}

<div class="container ">
    <div class=row>
        <h2>Hakkımda</h2>
        <div class="col-md-4">
            <img src="/static/img/böz.png" alt="" style="width: 400px;height: 400x;">
        </div>
        <div class="col-md-8">
            <br>
            <h3 style="margin-top:0px;margin-bottom:0px;font-family: 'Indie Flower', cursive;">Yeni nesil bilgisayar
                mühendisi.</h3><br>
            <p>14 Kasım 1998 yılında Amasya'da doğdum.İlköğretimimi Amasya Bahçeleriçi İlköğretim okulunda tamamladım.Buradan Kuleli Askeri Lisesini
                kazanarak lise hayatına başladım.4 senelik lise eğitiminin ardından İstanbul Teknik Üniversitesi Deniz Ulaştırma ve İşletme Mühendisliği
                bölümünde kısa bir macera yaşadım ve bu bölümün bana uygun olmadığını anlayarak tekrardan üniversite sınavlarına hazırlandım.Son olarak ise
                Kocaeli Üniversitesi Bilgisayar Mühendisliği bölümünü kazandım.Halen Kocaeli Üniversitesinde öğrenciyim.
            </p>
            <a class="btn btn-primary" href="/static/pdf/cv.pdf" target="_blank">CV'Mİ GÖRÜNTÜLE</a>
            <a href="#contact" class="btn site-btn transition-ease smooth-scroll mt10" data-wow-delay=0.2s>İLETİŞİME
                GEÇELİM</a>
        </div>
    </div>
    <br>
</div>

<div class="container">
    <div class="row">
        <div class=col-md-4>
            <h3>Grafik Tasarım</h3>
            <br>

            <p>Photoshop</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100">75%</div>
            </div>


            <p>ILLUSTRATOR</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100">70%</div>
            </div>
        </div>

        <div class=col-md-4>
            <h3>Yazılım</h3>
            <br>

            <p>Django/HTML/CSS/JS/Bootstrap</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100">85%</div>
            </div>


            <p>mysql/mssql</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100">80%</div>
            </div>


            <p>C/Java</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100">85%</div>
            </div>

            <p>Python</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100">85%</div>
            </div>

            <p>C#</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100">65%</div>
            </div>


            <p>React Native</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100">80%</div>
            </div>
            <br>

        </div>
        <div class=col-md-4>
            <h3>Sistem Bilgisi</h3>
            <br>

            <p>SİBER GÜVENLİK/NETWORK</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100">75%</div>
            </div>


            <p>LINUX SİSTEM YÖNETİMİ</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100">70%</div>
            </div>


            <p>GÖMÜLÜ YAZILIM/IOT</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100">70%</div>
            </div>


            <p>YAPAY ZEKA</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100">80%</div>
            </div>

        </div>
    </div>
</div>


{% endblock %}