{% extends 'base.html' %}
{% block body %}

<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="d-flex h-100 text-center text-white bg-dark">

    <div class="cover-container d-flex w-50 h-50 p-3 mx-auto flex-column" style="margin-top: 180px;">
        <main class="px-3">
            <h1>İLETİŞİM</h1>
            <p class="lead">Farklı konularda soru sormak, site hakkındaki geri bildirimlerinizi iletmek, kısacası benle irtibat kurmak için aşağıdaki mail adresime mesaj gönderebilirsiniz.</p>
            <a href="#" class="btn btn-md btn-secondary" style="width: 400px;">berkayozgen3337@gmail.com</a>
           
        </main>
    </div>


</body>

</html>

{% endblock %}